<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ravifirstfunction20220315115750.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a575455-7f3f-4736-92e0-bd1a37e37ed3/resourceGroups/NetworkWatcherRG/providers/Microsoft.Web/sites/RaviFirstFunction20220315115750</ResourceId>
    <UserName>$RaviFirstFunction20220315115750</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ravifirstfunction20220315115750.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>